h1{
    color: red;
}

.nav-bar{
    padding: 5px;
    display: flex;
}


.nav-bar ul li{
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.nav-bar ul li a{
    text-decoration: none;

}